/* Style for scrollbar */
div.scrollbar-thin::-webkit-scrollbar {
  width: 0.2rem; /* Initial width */
 
}

/* Hover effect */
div.scrollbar-thin::-webkit-scrollbar:hover {
  width: 0.4rem; /* Increase width slightly on hover */
}

/* Scrollbar thumb style */
div.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #868686;
  border-radius: 2rem;
  cursor: pointer;
  transition: width 0.7s ease; /* Smooth transition effect */
}

